<% layout("/layouts/boilerplate")%>
<br>
<h3>Edit your listing</h3>
    <form action="/listings/<%=list._id%>?_method=put" method="post">
        <input type="text" value="<%=list.title%>" name="listings[title]"><br><br>
        <textarea name="listings[description]"><%=list.description%></textarea><br><br>
        <input type="text" name="listings[image]" value="<%=list.image%>"><br><br>
        <input type="number" name="listings[price]" value="<%=list.price%>"><br><br>
        <input type="text" name="listings[location]" value="<%=list.location%>"><br><br>
        <input type="text" name="listings[country]" value="<%=list.country%>"><br><br>
        <button>Edit</button>

    </form>
